@import 'imports/colors';
@import 'imports/functions';

@each $key, $value in $colors {	
	.glow-#{$key}  {
		color: colorstrap-text-contrast($value); 
		background-color: #{$value};
		border: 0px solid transparent !important;
		-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.9), 0 0px 5px 5px rgba(red($value), green($value), blue($value), 0.6);
		box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.9), 0 0px 5px 5px rgba(red($value), green($value), blue($value), 0.6);
	}
}

