.margin-m10 {
	margin: -10px;
}

.margin-top-m10 {
	margin-top: -10px;
}

.margin-top-m20 {
	margin-top: -20px;
}

.margin-bottom-m10 {
	margin-bottom: -10px;
}

.margin-bottom-m20 {
	margin-bottom: -20px;
}
