@import 'imports/colors';
@import 'imports/functions';

@each $key, $value in $colors {
	.card-#{$key} {
		color: colorstrap-text-color($value, $exceptions);
		border-color: colorstrap-darken-color($value, 0.8) !important;
		background-color: #{$value};
	}	
}
